<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">关于</li>
</ol>


<p>API-DOC是一个在线文档系统，致力于快速解决团队内部接口文档的编写和沉淀。  </p>

<p>力求用最简单的方式部署您的文档系统，拥有最方便的文档管理。

</p>



<h2>如何部署？</h2>

<p>API-DOC采用<strong>bootstrap</strong>+<strong>angularjs</strong>+<strong>python</strong>开发。

</p>

<p>需要前后端分开部署。

</p>

<p>enjoy!

</p>
<h2>主要也就一个分类(type)页面和一个API页面</h2>


<p><strong>type</strong>是您接口的分类，格式简单

</p>
<pre><code class="lang-javascript">[{"name":"notes模块文档","href":"notes","description":"123"},...]</code></pre>
<p>其中href是当前分类的类似主键的东西。

</p>

<p><strong>api</strong>则维护您的API接口，样例如下:

</p>
<pre><code class="lang-javascript">
    [
        {
            "name": "一个接口的名字",
            "url": "该接口的url",
            "method": "POST",
            "description": " 接口的描述",
            "params": [
                {
                    "Name": "param_1_name",
                    "Required": "Y",
                    "Default": "",
                    "Type": "string",
                    "Description": "Description of the first parameter."
                },
                {
                    "Name": "userId",
                    "Required": "Y",
                    "Default": "",
                    "Type": "string",
                    "Description": "The userId parameter that is in the URI."
                }
            ],
            "response": [
                {
                    "Name": "param_1_name",
                    "Required": "Y",
                    "Default": "",
                    "Type": "string",
                    "Description": "Description of the first parameter."
                },
                {
                    "Name": "userId",
                    "Required": "Y",
                    "Default": "",
                    "Type": "string",
                    "Description": "The userId parameter that is in the URI."
                }
            ],
            "demo": "&lt;?php \n\r var_dump(123);"
        }
    ]</code></pre>
<p>聪明的你一定已经看明白了，你可以自行写一个程序，跑下你之前的接口格式，跑成这样的json文件就可以了。


</p>