
<ol id="top" class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active"> <a href="#/api/{{href}}"> {{href}}</a></li>
</ol>
<div style="position: fixed; left: 0; top: 100px;" >
    <div class="btn-group-vertical">
        <button ng-show="authenticated" class="btn btn-success" ng-click="add();">Add</button>
        <button ng-show="!authenticated" class="btn btn-success">Api:</button>
        <a ng-show="!menu" ng-repeat="item in apiList" class="btn btn-default btn-xs" ng-href="#/api/{{href}}/{{item._id}}">{{$index+1}}.{{item.name}}</a>
        <button  class="btn btn-danger btn-xs" ng-click="menu=!menu">{{menu?'展开':'收起'}}目录</button>
    </div>
</div>

        <div style="position: fixed;right: 0; bottom: 20px;">
            <div class="btn-group-vertical">
                <button class="btn btn-success" ng-click="back();">回到顶部</button>
                <button class="btn btn-info" ng-show="authenticated" ng-click="show_edit = !show_edit">{{!show_edit?'开启编辑':'关闭编辑'}}</button>
            </div>
        </div>

<div>

    <div ng-show="current" >
        <form class="form-horizontal" name="apiForm" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">接口名:</label>
                <div class="col-sm-10">
                    <input type="text" required class="form-control" name="name" ng-model="current.name" id="name" placeholder="接口名称">
                    <span class=" error" ng-if="apiForm.name.$error.required">请填写分类名</span>
                </div>
            </div>
            <div class="form-group">
                <label for="url"  class="col-sm-2 control-label">url:</label>
                <div class="col-sm-10">
                    <input type="text" required class="form-control" name="url" id="url" ng-model="current.url" placeholder="url">
                    <span class=" error" ng-if="apiForm.url.$error.required">请填写分类名</span>
                </div>
            </div>
            <div class="form-group">
                <label for="method"  class="col-sm-2 control-label">method:</label>
                <div class="col-sm-10">
                    <select id="method" ng-model="current.method">
                        <option ng-repeat="item in METHODS" ng-select="current.method == item" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                     <textarea name="description"  ng-model="current.description" style="width: 100%; height: 100px;"  placeholder="描述"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">传入参数:</label>
                <div class="col-sm-10">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>参数名</th>
                            <th>默认值</th>
                            <th>必传</th>
                            <th>类型</th>
                            <th>描述</th>
                            <th>
                                <button class="btn btn-success" ng-click="add_param(current.paramsList)">新增</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in current.paramsList">
                            <td><input type="text" ng-model="param.name"/></td>
                            <td ng-if="!param.parent_id"><input type="text" ng-model="param.default"/></td>
                            <td ng-if="param.parent_id">
                                <input type="text" class="btn-info" ng-model="param.default"/>  <!-- style="width: 164px; background-color: #39b3d7;" -->
                            </td>
                            <td><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="param.required"/></td>
                            <td>
                                <select ng-model="param.type_" ng-disabled="param.children.length != 0">
                                    <option ng-repeat="item in TYPES" ng-selected="param.type_ == item" value="{{item}}">{{item}}</option>
                                </select>
                            </td>
                            <td><textarea style="width: 320px;" ng-model="param.description"></textarea></td>
                            <td>
                                <button class="btn btn-danger" ng-if="!param.parent_id"
                                        ng-click="remove_param(current.paramsList, param)">删除</button>
                                <button class="btn btn-info" ng-if="param.parent_id"
                                        ng-click="remove_json_param_children(current.paramsList, param)">删除子项</button>
                            </td>
                             <td>
                                <button class="btn btn-success" ng-if="param.type_ == TYPES[4] && !param.parent_id"
                                        ng-click="add_json_param_children(current.paramsList, param)">新增子项</button>
                                 <button class="btn btn-info" ng-if="param.type_ == TYPES[4] && !param.parent_id && testing"
                                        ng-click="assert_children_equal(current.paramsList, param)">验证</button>
                            </td>
                            <!-- 这样才是最合适的格式，严格父子展开，但是前端这边的格式也不好处理。 现在的实现方式，虽然功能没问题，但是为了适配结构数据的正确性，多了好多工作
                            <td>
                                <table>
                                    <tr ng-repeat="child in param.children">
                                        <td><input type="text" ng-model="child.name"/></td>
                                        <td><input type="text" ng-model="child.default"/></td>
                                        <td><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="child.required"/></td>
                                        <td>
                                            <select ng-model="child.type_">
                                                <option ng-repeat="item in TYPES" ng-selected="child.type_ == item" value="{{item}}">{{item}}</option>
                                               </select>
                                        </td>
                                        <td><textarea style="width: 320px;" ng-model="child.description"></textarea></td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="remove_json_param_children(param.children, child)">删除</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">回显数据:</label>
                <div class="col-sm-10">
                    <label class="control-label btn btn-success">
                        回显数据格式为 {"msg": "", "code": 1, "result": {} } &nbsp;这边是指result内部的参数字段
                    </label>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>参数名</th>
                            <th>默认值</th>
                            <th>必传</th>
                            <th>类型</th>
                            <th>描述</th>
                            <th>
                                <button class="btn btn-success" ng-click="add_param(current.responseList)">新增</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in current.responseList">
                            <td><input type="text" ng-model="param.name"/></td>
                            <td ng-if="!param.parent_id"><input type="text" ng-model="param.default"/></td>
                            <td ng-if="param.parent_id">
                                <input type="text" class="btn-info" ng-model="param.default"/>  <!-- style="width: 164px; background-color: #39b3d7;" -->
                            </td>
                            <td><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="param.required"/></td>
                            <td>
                                <select ng-model="param.type_" ng-disabled="param.children.length != 0">
                                    <option ng-repeat="item in TYPES" ng-selected="param.type_ == item" value="{{item}}">{{item}}</option>
                                </select>
                            </td>
                            <td><textarea style="width: 320px;" ng-model="param.description"></textarea></td>
                            <td>
                                <button class="btn btn-danger" ng-if="!param.parent_id"
                                        ng-click="remove_param(current.responseList, param)">删除</button>
                                <button class="btn btn-info" ng-if="param.parent_id"
                                        ng-click="remove_json_param_children(current.responseList, param)">删除子项</button>
                            </td>
                             <td>
                                <button class="btn btn-success" ng-if="param.type_ == TYPES[4] && !param.parent_id"
                                        ng-click="add_json_param_children(current.responseList, param)">新增子项</button>
                                 <button class="btn btn-info" ng-if="param.type_ == TYPES[4] && !param.parent_id && testing"
                                        ng-click="assert_children_equal(current.responseList, param)">验证</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">输入demo:</label>
                <div class="col-sm-offset-2 col-sm-10">
                    <textarea ng-model="current.paramsDemo" style="width: 100%;height: 300px;"></textarea>
                    </div>

                <label class="col-sm-2 control-label">输出demo:</label>
                <div class="col-sm-offset-2 col-sm-10">
                    <textarea ng-model="current.responseDemo" style="width: 100%;height: 300px;"></textarea>
                    </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="save_api(current);" type="submit" class="btn btn-success">保存</button>
                    <button ng-click="cancel();" type="submit" class="btn btn-default">取消</button>
                    <button ng-if="testing" ng-click="log(current);" type="submit" class="btn btn-default">console.log</button>
                </div>
            </div>
        </form>
    </div>



    <div ng-show="!current">

     <!-- 去掉可编辑的功能 -->
        <div ng-show="authenticated" class="clearfix" style="margin: 5px;">
            <button class="btn btn-sm btn-info" ng-click="show_edit = !show_edit">{{!show_edit?'开启编辑':'关闭编辑'}}</button>
            <label class="pull-right" for="search">
                <input placeholder="search here" id="search" class="form-control input-sm " ng-model="search" style="width: 300px;" type="search"/>
            </label>
        </div>
        <div class="panel panel-default" ng-repeat="item in apiList|filter: search">
            <div id="{{item._id}}" class="panel-heading">
                <h3 class="panel-title">
                    {{item.name}}
                    <button ng-if="show_edit" class="btn btn-info btn-xs pull-right" ng-click="edit(item);">edit</button>
                    <button ng-if="show_edit" class="btn btn-danger btn-xs pull-right" style="margin-right: 5px;" ng-click="remove_api(item);">delete</button>
                </h3>
                <h4><kbd>{{item.method || 'GET'}}</kbd> - <kbd>{{item.url}}</kbd></h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">{{item.description}}</div>
                <div ng-if="item.paramsList.length > 0">
                    <h5>请求参数</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>参数名</th>
                            <th>必传</th>
                            <th>默认值</th>
                            <th>类型</th>
                            <th>描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in item.paramsList">
                            <td ng-if="!param.parent_id">{{param.name}}</td>
                            <td ng-if="!param.parent_id">{{param.required}}</td>
                            <td ng-if="!param.parent_id">{{param.default || "-"}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.name}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.required}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.default || "-"}}</td>
                            <td ng-if="param.type_ == 'json' || param.parent_id" style="background-color: #bce8f1;">{{param.type_}}</td>
                            <td ng-if="param.type_ != 'json' && !param.parent_id">{{param.type_}}</td>
                            <td ng-if="!param.parent_id">{{param.description}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="item.paramsList.length == 0">
                    <div class="form-group">
                        <h5>请求参数</h5>
                        <table class="table"><tr><td>无</td></tr> </table>
                        <!--<label for="url"  class="col-sm-offset-2  col-sm-10 alert-danger">无</label> -->
                    </div>
                </div>
                <div ng-if="item.responseList.length == 0">
                    <div class="form-group">
                        <h5>返回值</h5>
                        <table class="table"><tr><td>无</td></tr> </table>
                    </div>
                </div>
                <div ng-if="item.responseList.length > 0">
                    <h5>返回值</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>参数名</th>
                            <th>必传</th>
                            <th>默认值</th>
                            <th>类型</th>
                            <th>描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in item.responseList">
                            <!--
                            <td>{{param.name}}</td>
                            <td>{{param.required}}</td>
                            <td>{{param.default || "-"}}</td>
                            <td>{{param.type_}}</td>
                            <td>{{param.description}}</td>
                            -->
                            <td ng-if="!param.parent_id">{{param.name}}</td>
                            <td ng-if="!param.parent_id">{{param.required}}</td>
                            <td ng-if="!param.parent_id">{{param.default || "-"}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.name}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.required}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.default || "-"}}</td>
                            <td ng-if="param.type_ == 'json' || param.parent_id" style="background-color: #bce8f1;">{{param.type_}}</td>
                            <td ng-if="param.type_ != 'json' && !param.parent_id">{{param.type_}}</td>
                            <td ng-if="!param.parent_id">{{param.description}}</td>
                            <td ng-if="param.parent_id" style="background-color: #bce8f1;">{{param.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Demo:</h4>
                <p>输入</p>
                <div ng-if="item.paramsDemo">
                    <pre>{{item.paramsDemo}}</pre>
                </div>
                <p>输出</p>
                <div ng-if="item.responseDemo">
                    <pre>{{item.responseDemo}}</pre>
                </div>
            </div>
        </div>
    </div>
    <ol id="bottom" class="breadcrumb">
    </ol>
</div>
