<ol id="top" class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active"> <a href="#/api/{{href}}"> {{href}}</a></li>
</ol>

<div class="panel panel-default">
12344444444444
    <div class="panel-body">

        <ul class="media-list">
            <li class="media" ng-repeat="item in recordList">
                <a class="pull-left" href="#/api/{{item.href}}">
                    <i class="fa {{loop_icon($index)}}"></i>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <div><a href="#/api/{{item.category_href}}">{{item.name}}</a></div>
                        <div><small title="版本"> ： &nbsp; {{item.version}}</small></div>
                        <div>{{item.time}}</div>
                        <li ng-repeat="api_id in item.RecordApiIdList">
                            <a href="#/record/api/{{item.category_href}}/{{api_id}}">{{api_id}}</a>
                            <div> ;</div>
                        </li>

                    </h4>
                    <p>{{item.description}}</p>
                </div>
            </li>
        </ul>



    </div>

    </div>


